body {
  background-color: #d3d3d3;
  font-family: sans-serif;
}
.box {
  border: 2px solid black;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}
/*flexbox*/
.content {
  display: flex;
  align-items: flex-start;
}

.content main {
  flex: 0 0 80%;
}

.content aside {
  flex: 1;
}

.moving_square {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative; /*Relative position to stay in layout*/
  animation-name: moveSquare;
  animation-duration: 5s;
  animation-iteration-count: 5;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveSquare {
  0% {
    top: 0;
    left: 0;
    background-color: red;
  }
  25% {
    top: 300px;
    left: 0;
    background-color: green;
  }
  50% {
    top: 300px;
    left: 300px;
    background-color: blue;
  }
  75% {
    top: 0;
    left: 300px;
    background-color: yellow;
  }
  100% {
    top: 0;
    left: 0;
    background-color: red;
  }
}
